body{
    background-color: rgb(145, 145, 253);
}

#QuesList{
    display: flex;
    flex-direction: row;
}

.ques{
    height: 100vh;
    width: 100vw;
    color: black;
    font-size: 3vw;
}

.ques h2{
    text-align: center;
    margin: 1vw;
}

.ques span{
    float: right;
    margin: 1vw 8vw;
}

.ques p{
    margin: 1vw 10vw ;
    text-align: center;
}

.rating{
    display: flex;
    width: 60vw;
    margin: 2.5vw 20vw;
    justify-content: space-between;
}

.bubble{
    width: 5vw;
    height: 5vw;
    border-radius: 100%;
    background-color: white;
    text-align: center;
    align-items: center;
    line-height: 150%;
    cursor: pointer;
    box-shadow: 0.1vw 0.1vw 1vw 0.1vw black;
}

.next{
    cursor: pointer;
    width: 15vw;
    height: auto;
    margin: 2vw 7.5vw;
    float: right;
    border-radius: 1vw;
    text-align: center;
    background: linear-gradient(230.33deg, #4725c2 -274.99%, rgba(217, 217, 217, 0) 124.83%);;
    box-shadow: 0.1vw 0.1vw 1vw 0.1vw black;
}

.prev{
    cursor: pointer;
    width: 15vw;
    background: linear-gradient(230.33deg, #4725c2 -274.99%, rgba(217, 217, 217, 0) 124.83%);;
    box-shadow: 0.1vw 0.1vw 1vw 0.1vw black;
    margin: 2vw 7.5vw;
    float: left;
    border-radius: 1vw;
    text-align: center;
}

.textArea{
    width: 50vw;
  height: 15vw;
  background-color: white;
  margin: 2vw 5vw;
  resize: none;
  outline: none;
  box-shadow: 0.1vw 0.1vw 1vw 0.1vw black;
}
